---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import AppLayout from './AppLayout.astro'
import Logo from '$assets/logo/threlte-logo.png'
import LogoOnly from '$assets/logo/threlte-logo-only.png'
import LeftSidebar from '$components/Menu/LeftSidebar/LeftSidebar.astro'
import Socials from '$components/Socials/Socials.astro'
import RightSidebar from '$components/Menu/RightSidebar/RightSidebar.astro'
import MobileDocsNav from '$components/Menu/MobileDocsNav.svelte'
import { getLeftSidebarMenu } from '$components/Menu/LeftSidebar/getLeftSidebarMenu'
import Package from './Package.astro'
import { c } from '../lib/classes'
import Book from './Book.astro'
import Search from '$components/Search/Search.svelte'
import Markprompt from '$components/Search/Markprompt'

export interface Props {
  title: string
  entry: CollectionEntry<'learn'> | CollectionEntry<'reference'>
}

const title = Astro.props.title

const sidebarMenu = await getLeftSidebarMenu()

const activeSidebarTab: 'learn' | 'reference' = Astro.url.pathname.startsWith('/docs/learn')
  ? 'learn'
  : 'reference'

const activeUrlPathName = Astro.url.pathname

const linkStyles = 'flex items-center gap-1 rounded-md text-faded hover:text-white group'
const activeLinkStyles = '!text-orange'

const linkTextStyles = 'flex flex-col gap-0.5';
const linkAliasStyles = 'text-xs opacity-50 whitespace-nowrap'
---

<AppLayout title={title}>
  <Markprompt client:only="preact" />
  <header
    class="border-b-orange/25 fixed z-40 mx-auto hidden md:flex h-[70px] w-full flex-row items-center justify-between gap-12 border-b bg-[#0A0F19] px-6"
    transition:name="desktop_nav"
  >
    <div class="justify flex items-center justify-start gap-6 xl:gap-12">
      <a
        href="/"
        data-astro-prefetch
      >
        <Image
          src={Logo}
          alt="threlte logo"
          width={200}
          class="h-[37px] w-auto sm:hidden md:block object-contain"
          loading="eager"
        />
        <Image
          src={LogoOnly}
          alt="threlte logo"
          width={200}
          class="h-[37px] w-[37px] hidden sm:block md:hidden object-contain"
          loading="lazy"
        />
      </a>
    </div>
      <!-- guide -->
      <div class="hidden lg:flex h-[30px] flex-row items-center justify-start gap-4 lg:gap-6 ">
        <Book class="h-[16px] hidden lg:block" />
        <a
          href="/docs/learn/getting-started/introduction"
          class={c(linkStyles, activeUrlPathName.includes('/docs/learn') && activeLinkStyles)}
          data-astro-prefetch
        >
          <div class={c(linkTextStyles)}>
            <span class={c(linkAliasStyles)}>Start here</span>
            <span>Overview</span>
          </div>
        </a>

        <a
          href="/docs/examples/examples"
          class={c(linkStyles, activeUrlPathName.includes('/docs/examples') && activeLinkStyles)}
          data-astro-prefetch
        >
          <div class={c(linkTextStyles)}>
            <span class={c(linkAliasStyles)}>Tutorials &</span>
            <span>Examples</span>
          </div>
        </a>
      </div>
      <!-- packages -->
      <div class="relative hidden lg:flex items-center gap-6">
          <Package class="h-[16px] hidden md:block" />
          <a
            href="/docs/reference/core/getting-started"
            class={c(
              linkStyles,
              activeUrlPathName.includes('/docs/reference/core') && activeLinkStyles
            )}
            data-astro-prefetch
          >
            <div class={c(linkTextStyles)}>
              <span class={c(linkAliasStyles)}>3D</span>
              <span>core</span>
            </div>
          </a>
        <a
          href="/docs/reference/rapier/getting-started"
          class={c(
            linkStyles,
            activeUrlPathName.includes('/docs/reference/rapier') && activeLinkStyles
          )}
          data-astro-prefetch
        >
        <div class={c(linkTextStyles)}>
          <span class={c(linkAliasStyles)}>Physics</span>
          <span>rapier</span>
        </div>
          </a
        >
        <a
          href="/docs/reference/theatre/getting-started"
          class={c(
            linkStyles,
            activeUrlPathName.includes('/docs/reference/theatre') && activeLinkStyles
          )}
          data-astro-prefetch
        >
          <div class={c(linkTextStyles)}>
            <span class={c(linkAliasStyles)}>Animation</span>
            <span>theatre</span>
          </div>
        </a>
        <a
          href="/docs/reference/xr/getting-started"
          class={c(
            linkStyles,
            activeUrlPathName.includes('/docs/reference/xr') && activeLinkStyles
          )}
          data-astro-prefetch
        >
          <div class={c(linkTextStyles)}>
            <span class={c(linkAliasStyles)}>AR/VR</span>
            <span>xr</span>
          </div>
        </a>
        <a
          href="/docs/reference/flex/getting-started"
          class={c(
            linkStyles,
            activeUrlPathName.includes('/docs/reference/flex') && activeLinkStyles
          )}
          data-astro-prefetch
        >
          <div class={c(linkTextStyles)}>
            <span class={c(linkAliasStyles)}>Layout</span>
            flex
          </div>
        </a>
        <a
          href="/docs/reference/gltf/getting-started"
          class={c(
            linkStyles,
            activeUrlPathName.includes('/docs/reference/gltf') && activeLinkStyles
          )}
          data-astro-prefetch
        >
        <div class={c(linkTextStyles)}>
          <span class={c(linkAliasStyles)}>Pipelines</span>
          gltf
        </div>  
        </a>
        <a
        href="/docs/reference/extras/getting-started"
        class={c(
          linkStyles,
          activeUrlPathName.includes('/docs/reference/extras') && activeLinkStyles
        )}
        data-astro-prefetch
        >
          <div class={c(linkTextStyles)}>
            <span class={c(linkAliasStyles)}>Extensions</span>
            extras
          </div>
        </a>
    </div>
    <!-- search -->
    <div class="flex flex-1 flex-row items-center justify-end gap-6">
      <Search client:media="(min-width: 900px)" />
    </div>
  </header>

  <MobileDocsNav
    client:media="(max-width: 1200px)"
    sidebarMenu={sidebarMenu}
    activeSidebarTab={activeSidebarTab}
    activeUrlPathName={activeUrlPathName}
  >
    <Image
      slot="logo"
      src={Logo}
      alt="threlte logo"
      width={200}
      class="h-[37px] w-auto"
    />

    <Socials slot="after-navigation" github discord twitter />
  </MobileDocsNav>

  <main
    class="grid min-h-[66vh] md:grid-cols-[var(--left-sidebar-width)_1fr] lg:grid-cols-[var(--left-sidebar-width)_1fr_var(--right-sidebar-width)]"
  >
    <aside
      class="fixed top-0 z-10 row-span-2 hidden h-[calc(100vh-70px)] min-w-[var(--left-sidebar-width)] place-self-start justify-self-stretch overflow-hidden md:top-[70px] md:block lg:row-span-1"
      transition:name="left_sidebar"
    >
      <LeftSidebar />
    </aside>

    <div
      class="col-start-2 w-full justify-self-center overflow-hidden overflow-x-auto px-6 pb-12 pt-6 md:overflow-x-visible"
    >
      <article
        class="prose prose-a:text-orange before:prose-code:content-none after:prose-code:content-none prose-invert [&_p]:text-faded [&_li]:text-faded prose-a:decoration-dotted mx-auto max-w-5xl"
      >
        <slot />
      </article>
    </div>

    <aside
      class="fixed top-0 right-0 z-10 row-span-2 hidden h-[calc(100vh-70px)] place-self-start justify-self-stretch overflow-hidden lg:top-[var(--docs-navbar-height)] lg:block lg:w-[var(--right-sidebar-width)]"
      transition:name="right_sidebar"
    >
      <RightSidebar entry={Astro.props.entry} >
				<Socials github discord twitter/>
			</RightSidebar>
    </aside>
  </main>
</AppLayout>
