---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import AppLayout from './AppLayout.astro'
import Logo from '$assets/logo/threlte-logo.png'
import LogoOnly from '$assets/logo/threlte-logo-only.png'
import LeftSidebar from '$components/Menu/LeftSidebar/LeftSidebar.astro'
import Socials from '$components/Socials/Socials.astro'
import RightSidebar from '$components/Menu/RightSidebar/RightSidebar.astro'
import MobileDocsNav from '$components/Menu/MobileDocsNav.svelte'
import { getLeftSidebarMenu } from '$components/Menu/LeftSidebar/getLeftSidebarMenu'
import Package from './Package.astro'
import { c } from '../lib/classes'
import Book from './Book.astro'
import Circles from './Circles.astro'
import Search from '$components/Search/Search.svelte'
import Markprompt from '$components/Search/Markprompt'

export interface Props {
  title: string
  entry: CollectionEntry<'learn'> | CollectionEntry<'reference'>
}

const title = Astro.props.title

const sidebarMenu = await getLeftSidebarMenu()

const activeSidebarTab: 'learn' | 'reference' = Astro.url.pathname.startsWith('/docs/learn')
  ? 'learn'
  : 'reference'

const activeUrlPathName = Astro.url.pathname

const linkStyles = 'flex items-center gap-1 rounded-md text-faded hover:text-white group'
const activeLinkStyles = '!text-orange'
---

<AppLayout title={title}>
  <Markprompt client:only="preact" />
  <header
    class="border-b-orange/25 fixed z-40 mx-auto hidden h-[70px] w-full flex-row items-center justify-between gap-6 border-b bg-[#0A0F19] px-6 md:flex"
    transition:name="desktop_nav"
  >
    <div class="justify flex items-center justify-between gap-6 xl:gap-12 grow">
      <a
        href="/"
        data-astro-prefetch
      >
        <Image
          src={Logo}
          alt="threlte logo"
          width={200}
          class="h-[37px] w-auto object-contain"
          loading="eager"
        />
      </a>

      <div class="flex h-[30px] flex-row items-center justify-end gap-4 lg:gap-6">
				<Search/>
				<Socials github twitter discord small/>
      </div>
    </div>
  </header>

  <MobileDocsNav
    client:media="(max-width: 768px)"
    sidebarMenu={sidebarMenu}
    activeSidebarTab={activeSidebarTab}
    activeUrlPathName={activeUrlPathName}
  >
    <Image
      slot="logo"
      src={Logo}
      alt="threlte logo"
      width={200}
      class="h-[37px] w-auto"
    />

    <Socials slot="after-navigation" github discord twitter />
  </MobileDocsNav>

  <main
    class="grid min-h-[66vh] md:grid-cols-[var(--left-sidebar-width)_1fr] lg:grid-cols-[var(--left-sidebar-width)_1fr_var(--right-sidebar-width)]"
  >
    <aside
      class="mt-6 fixed top-0 z-10 row-span-2 hidden h-[calc(100vh-70px)] min-w-[var(--left-sidebar-width)] place-self-start justify-self-stretch overflow-hidden md:top-[70px] md:block lg:row-span-1"
      transition:name="left_sidebar"
    >
      <LeftSidebar />
    </aside>

    <div
      class="col-start-2 w-full justify-self-center overflow-hidden overflow-x-auto px-6 pb-12 pt-6 md:overflow-x-visible"
    >
      <article
        class="prose prose-a:text-orange before:prose-code:content-none after:prose-code:content-none prose-invert [&_p]:text-faded [&_li]:text-faded prose-a:decoration-dotted mx-auto max-w-5xl"
      >
        <slot />
      </article>
    </div>

    <aside
      class="fixed top-0 right-0 z-10 row-span-2 hidden h-[calc(100vh-70px)] place-self-start justify-self-stretch overflow-hidden lg:top-[var(--docs-navbar-height)] lg:block lg:w-[var(--right-sidebar-width)]"
      transition:name="right_sidebar"
    >
      <RightSidebar entry={Astro.props.entry} />
    </aside>
  </main>
</AppLayout>
