---
import { Image } from '@astrojs/image/components'
import type { CollectionEntry } from 'astro:content'
import AppLayout from './AppLayout.astro'
import Logo from '$assets/logo/threlte-logo.png'
import LogoOnly from '$assets/logo/threlte-logo-only.png'
import LeftSidebar from '$components/Menu/LeftSidebar/LeftSidebar.astro'
import Socials from '$components/Socials/Socials.astro'
import RightSidebar from '$components/Menu/RightSidebar/RightSidebar.astro'
import MobileDocsNav from '$components/Menu/MobileDocsNav.svelte'
import { getLeftSidebarMenu } from '$components/Menu/LeftSidebar/getLeftSidebarMenu'
import Package from './Package.astro'
import { c } from '../lib/classes'
import Book from './Book.astro'
import Circles from './Circles.astro'
import Search from '$components/Search/Search.svelte'
import Footer from '../components/Footer/Footer.astro'
import Markprompt from '$components/Search/Markprompt'

export interface Props {
  title?: string
  entry: CollectionEntry<'learn'> | CollectionEntry<'reference'>
}

const title = Astro.props.title

const sidebarMenu = await getLeftSidebarMenu()

const activeSidebarTab: 'learn' | 'reference' = Astro.url.pathname.startsWith('/docs/learn')
  ? 'learn'
  : 'reference'

const activeUrlPathName = Astro.url.pathname

const linkStyles = 'flex items-center gap-1 rounded-md text-faded hover:text-white'
const activeLinkStyles = '!text-orange bg-blue-900/50'
---

<AppLayout title={title}>
  <Markprompt client:idle />
  <header
    class="border-b-orange/25 fixed z-50 mx-auto hidden h-[70px] w-full flex-row items-center justify-between border-b bg-[#0A0F19] px-6 md:flex"
    transition:name="desktop_nav"
  >
    <div class="justify flex items-center justify-start gap-6 lg:gap-12">
      <a
        href="/"
        class="flex flex-row items-center gap-4"
      >
        <Image
          src={Logo}
          alt="threlte logo"
          width={200}
          class="h-[37px] w-auto md:hidden lg:block"
          loading="eager"
        />
        <Image
          src={LogoOnly}
          alt="threlte logo"
          width={200}
          class="h-[37px] w-auto hidden md:block lg:hidden"
          loading="lazy"
        />
      </a>

      <div class="flex h-[30px] flex-row items-center justify-start gap-6">
        <a
          href="/docs/learn/getting-started/introduction"
          class={c(linkStyles, activeUrlPathName.includes('/docs/learn') && activeLinkStyles)}
        >
          <Book />Learn
        </a>

        <a
          href="/docs/examples/intro"
          class={c(linkStyles, activeUrlPathName.includes('/docs/examples') && activeLinkStyles)}
        >
          <Circles />Examples
        </a>

        <div class="h-full w-px bg-gray-500/70"></div>

        <div class="flex items-center gap-6">
          <a
            href="/docs/reference/core/getting-started"
            class={c(
              linkStyles,
              activeUrlPathName.includes('/docs/reference/core') && activeLinkStyles
            )}
          >
            <Package />core</a
          >
          <a
            href="/docs/reference/extras/getting-started"
            class={c(
              linkStyles,
              activeUrlPathName.includes('/docs/reference/extras') && activeLinkStyles
            )}
          >
            <Package />extras</a
          >
          <a
            href="/docs/reference/gltf/getting-started"
            class={c(
              linkStyles,
              activeUrlPathName.includes('/docs/reference/gltf') && activeLinkStyles
            )}
          >
            <Package />gltf</a
          >
          <a
            href="/docs/reference/rapier/getting-started"
            class={c(
              linkStyles,
              activeUrlPathName.includes('/docs/reference/rapier') && activeLinkStyles
            )}
          >
            <Package />rapier</a
          >
          <a
            href="/docs/reference/theatre/getting-started"
            class={c(
              linkStyles,
              activeUrlPathName.includes('/docs/reference/theatre') && activeLinkStyles
            )}
          >
            <Package />theatre</a
          >
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-5">
      <Socials />
    </div>
  </header>

  <MobileDocsNav
    client:media="(max-width: 768px)"
    sidebarMenu={sidebarMenu}
    activeSidebarTab={activeSidebarTab}
    activeUrlPathName={activeUrlPathName}
  >
    <Image
      slot="logo"
      src={Logo}
      alt="threlte logo"
      width={200}
      class="h-[37px] w-auto"
    />

    <Socials slot="after-navigation" />
  </MobileDocsNav>

  <main
    class="grid md:grid-cols-[var(--left-sidebar-width)_1fr] lg:grid-cols-[var(--left-sidebar-width)_1fr_var(--right-sidebar-width)]"
  >
    <aside
      class="fixed bottom-0 z-10 row-span-2 hidden h-[calc(100vh-70px)] w-full place-self-start justify-self-stretch md:sticky md:top-[70px] md:block md:w-auto md:pt-6 lg:row-span-1"
      transition:name="left_sidebar"
    >
      <div class="mb-4 w-full">
        <Search client:media="(min-width: 768px)" />
      </div>
      <LeftSidebar />
    </aside>

    <div
      class="w-full justify-self-center overflow-hidden overflow-x-auto px-6 pb-12 pt-6 md:overflow-x-visible"
    >
      <article
        class="prose prose-a:text-orange before:prose-code:content-none after:prose-code:content-none prose-invert [&_p]:text-faded [&_li]:text-faded prose-a:decoration-dotted mx-auto max-w-5xl"
      >
        <slot />
      </article>
    </div>

    <aside
      class="sticky top-[var(--docs-navbar-height)] z-10 ml-4 hidden w-full place-self-start justify-self-end pt-6 lg:z-0 lg:block"
      transition:name="right_sidebar"
    >
      <RightSidebar entry={Astro.props.entry} />
    </aside>
  </main>

  <Footer class="w-full px-6 mx-auto py-12 border-t border-white/20" />
</AppLayout>
