---
import type { CollectionEntry } from 'astro:content'

interface Props {
  testimonial: CollectionEntry<'testimonials'>
}

const testimonial = Astro.props.testimonial.data
---

<a
  href={testimonial.link}
  rel="external"
  class="inline-block w-full h-full bg-white/5 border border-white/10 hover:bg-white/10 rounded-md duration-200 shadow-xl hover:shadow-2xl mb-6 p-4"
>
  <div class="flex flex-col gap-6">
    <div class="flex gap-6">
      <img
        src={testimonial.image}
        alt={testimonial.name + 'profile photo'}
        class="rounded-full w-12 h-12 object-cover"
      />
      <div class="grow">
        <h4 class="mb-0">{testimonial.name}</h4>
        <p class="text-sm font-normal text-faded">{testimonial.title}</p>
      </div>
    </div>
    <p class="mt-0 font-normal text-base text-faded">{testimonial.contents}</p>
  </div>
</a>
