---
import CopyCodeButton from './CopyCodeButton.svelte'
import { highlighter } from '$lib/highlighter'

interface Props {
  lang: string
  class?: string
  title?: string
  code: string
  // lineOptions?:  HtmlRendererOptions['lineOptions'] // this has changed to decorations/transformers but couldn't manage to wire it up correctly to get positive diff highlighting
}

const formatted = highlighter.codeToHtml(Astro.props.code.replace(/\n$/, '') ?? '', {
  lang: Astro.props.lang,
  theme: 'dracula-soft'
  // lineOptions: Astro.props.lineOptions ?? []
})
---

{
  Astro.props.title ? (
    <div class="code">
      <div class="not-prose text-faded z-10 inline-block translate-y-px rounded-t-md border border-x-white/20 border-b-white/5 border-t-white/20 bg-blue-900 px-2 py-1 text-sm">
        {Astro.props.title}
      </div>
      <div
        class:list={[
          'not-prose relative overflow-x-auto rounded-b-md rounded-tr-md border border-white/20 bg-blue-900 text-sm shadow-xl [&>*]:!bg-transparent [&>*]:p-2',
          Astro.props.class ?? ''
        ]}
      >
        <CopyCodeButton
          client:idle
          code={Astro.props.code}
        />
        <Fragment set:html={formatted} />
      </div>
    </div>
  ) : (
    <div
      class:list={[
        'code not-prose group relative overflow-x-auto rounded-md border border-white/20 bg-blue-900 text-sm shadow-xl [&>*]:!bg-transparent [&>*]:p-2',
        Astro.props.class ?? ''
      ]}
    >
      <CopyCodeButton
        client:idle
        code={Astro.props.code}
      />
      <Fragment set:html={formatted} />
    </div>
  )
}
